<div @onmousedown="@HandleMouseDown" @onmousemove="@HandleMouseMove" @onmouseup="@HandleMouseUp">

    <p>canvas pos: (@ContainerOffset.ToString()), Last Click=@ClickPoint.ToString(), SelectedItemText =@SelectedItemText </p>
    
    <svg id="canvas" width="100%" height="100%">

        @foreach (var svgItem in SvgComponents)
        {
            <SvgComponent SvgAttributes="@svgItem"></SvgComponent>
        }
    </svg>
</div>

